<center>
	<%= form_with model: @user, url: sing_up_path do |form| %>
		<% if @user.errors.any? %>
			<div class = "alert alert-danger">
				<% @user.errors.full_messages.each do |message| %>
					<div><%= message %></div>
				<% end %>
			</div>
		<% end %>
	<p>
		<div class="col-md-3">
			<%= form.label :Email %>
			<%= form.text_field :email, class: "form-control", placeholder: "bebra@mail.ru"%>
		</div>
	</p>
	<p>
		<div class="col-md-3">
			<%= form.label :Пароль %>
			<%= form.password_field :password, class: "form-control", placeholder: "Пассворд"%>
		</div>
	</p>
	<p>
		<div class="col-md-3">
			<%= form.label :"Подтвердите пароль" %>
			<%= form.password_field :password_confirmation, class: "form-control", placeholder: "Пассворд"%>
		</div>
	</p>
	<p>
		<div class="col-md-3">
			<%= form.submit "Зарегистрироваться", class: "btn btn-outline-success"%>
		</div>
	</p>
	<% end %>
</center>